nav
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	background-color:white;
	padding:12px;
	font-size:23px;
}
a
{
	text-decoration:none;
}
a:hover
{
	transform:scale(1.3);
	color:gray;
	transition:0.9s;
}
.pad
{
	padding-bottom:800px;
}
.lpad
{
	padding-top:450px;
}
.progress-container
{
	width: 220px;
    	height: 22px;
    	background-color: grey;
    	border-radius: 6px;
    	margin-top:auto;
	margin-left:70px;
}
.progress-bar
{
    	height: 100%;
    	background-color: solid-green;
    	color: white;
    	font-size: 13px;
    	font-weight: bold;
    	text-align: center;
    	line-height: 22px;
    	border-radius: 6px;
}
.cent
{
	text-align:center;
	text-decoration:underline;
}
.prof
{
	width:250px; 
	height:230px;
}
table,td,th
{
	border:4px solid black;
	width:76%;
	border-collapse:collapse;
	text-align:center;
}
.tpad
{
	padding:23px;
}
footer
{
	text-align:right;
}
.fimg
{
	height:50px; 
	width:50px;
}
h3
{
	text-align:right;
}